@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: black;
    overflow-x: hidden;
}

li {
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    color: black;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pc {
    display: none;
}

.black-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: black;
    opacity: 0.5;
}

article>div:first-of-type {
    padding: 80px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 10;
}

header>div {
    max-width: 1200px;
    margin: 0 auto;
}

header>div>:first-child img {
    margin: auto 0;
    width: 50px;
    height: auto;
    filter: brightness(0) invert(1);
}

header>div>h2 a {
    color: white;
}

header>div>:nth-child(2)>:last-child {
    cursor: pointer;
    margin: auto 0;
}

header nav>ul>li>a {
    color: white;
}

.header-scroll {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.header-scroll>div>:first-child a img {
    filter: brightness(1) invert(0);
}

.header-scroll nav>ul>li>a {
    color: black;
}

.header-scroll>div>:nth-child(2)>:last-child {
    filter: invert(1);
}

/* nav */

nav>ul {
    display: none;
}

nav>div {
    position: absolute;
    background: white;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    transition: 0.3s;
}

nav>div>ul li a {
    font-size: 1.1rem;
}

nav>div>ul>li>div {
    padding: 20px;
}

nav>div>ul>li>div>p,
nav>div>ul>li>div a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}

nav>div>ul>li>div>div {
    margin: auto 0
}

nav>div>ul>li>ul li a {
    padding: 20px 30px;
    font-size: 1rem;
    color: #555;
    display: block;
}

nav>div>ul>li>ul li a:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}

nav>div>div {
    position: absolute;
    top: 20px;
    left: -50px;
    cursor: pointer;
}

.nav-open {
    right: 0;
    z-index: 50;
}

.nav-close {
    right: -100%;
    overflow-x: hidden;
    z-index: 20;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition: 0.8s
}

.submenu.sub-open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

/* category-banner */

.category-banner {
    background-size: cover;
    width: 100%;
    height: 270px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
}

.category-banner>div {
    position: absolute;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* inquire-section */

.inquire-section {
    background-image: url("/images/inqurie_section_bg.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}

.inquire-section>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

.inquire-section>div h1 {
    font-size: 2rem;
}

.inquire-section>div button {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 50px;
    margin-top: 30px
}

.inquire-section>div button:hover {
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255)
}

.inquire-section>div button a {
    font-weight: bold;
    color: white;
}

/* pagination */

.pagination {
    margin: 50px auto 70px;
    max-width: 700px;
}

.pagination>div button {
    margin: 0 10px;
    cursor: pointer;
}

.pagination button img {
    cursor: pointer;
}

.pagination button p {
    font-size: 1.2rem;
}

/* footer */

footer {
    background: #222;
    color: white;
    padding: 20px 5% 50px;
    position: relative;
}

footer>:first-child>div>div,
footer>:first-child>:last-child {
    max-width: 1200px;
    margin: 0 auto;
}

footer>:first-child h2:first-of-type {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

footer>:first-child h2:last-of-type {
    margin: 20px 0;
}

footer>:first-child ul {
    margin-bottom: 30px;
}

footer>:first-child ul li {
    color: #ccc;
    margin: 8px 0;
    font-size: 0.8rem;
}

footer>:first-child ul li>div p {
    font-size: 0.8rem;
}

footer>:first-child>:last-child>p {
    color: #ccc;
    font-size: 0.8rem;
}

footer> :last-child {
    position: fixed;
    bottom: 50px;
    right: 5%;
}

footer> :last-child>div {
    border-radius: 100%;
}

footer> :last-child>div img {
    width: 100%;
    height: auto;
}

footer> :last-child>div:first-of-type {
    margin-bottom: 15px;
}

@media screen and (min-width: 1366px) {

    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    li,
    p {
        font-size: 1rem;
    }

    article>div {
        padding: 150px 0px;
    }

    article>div:first-of-type {
        padding: 150px 0px;
    }

    /* header */

    header {
        padding: 20px 0;
    }

    header>div>div {
        width: 600px;
    }

    /* nav */

    nav {
        margin: auto 0;
    }

    nav>ul {
        display: flex;
        justify-content: space-between;
        gap: 75px;
    }

    nav>ul>li {
        position: relative;
    }

    nav>ul>li>a {
        font-size: 1.2rem;
    }

    nav>ul>li>ul {
        position: absolute;
        top: 50px;
        width: 300px;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav>ul>li>ul>li>a {
        font-size: 1rem;
        display: block;
        padding: 15px;
        width: 100%;
    }

    nav>ul>li>ul>li>a:hover {
        background-color: rgb(0, 102, 255);
        color: white;
    }

    nav>div>div>img {
        width: 20px;
        height: 20px;
    }

    .nav-hover {
        opacity: 1;
        visibility: visible;
    }

    nav>div {
        width: 30%;
    }

    /* category-banner */

    .category-banner {
        height: 500px;
    }

    .category-banner>div {
        top: 60%;
    }

    .category-banner>div>h1 {
        font-size: 3.2rem;
        margin-bottom: 10px;
    }

    .category-banner>div>div {
        display: flex;
        justify-content: center;
    }

    .category-banner>div>div>p {
        font-size: 1.3rem;
    }

    .category-banner>div>div img:not(.category-banner>div>div img:first-of-type) {
        margin: auto 0;
        filter: invert(1);
    }

    .category-banner>div>div {
        display: flex;
        gap: 15px;
    }

    /* inquire-section */

    .inquire-section {
        height: 600px;
    }

    .inquire-section>div h1 {
        font-size: 2.5rem;
    }

    .inquire-section>div button {
        padding: 15px 70px;
    }

    .inquire-section>div button a {
        font-size: 1.2rem;
    }

    /* pagination */

    .pagination {
        margin: 70px auto 30px;
    }

    /* footer */

    footer {
        padding: 30px 0 50px;
    }

    footer>:first-child>div:first-of-type {
        border-bottom: 1px solid #ccc;
    }

    footer>:first-child h2:first-of-type {
        width: 400px;
    }

    footer>:first-child h2:first-of-type {
        padding-bottom: 0px;
        border-bottom: 0px;
        margin: auto 0;
    }

    footer>:first-child ul {
        margin: 50px 0;
    }

    footer>:first-child>:last-child>p {
        margin: auto 0;
    }

    footer> :last-child {
        bottom: 100px;
        right: 80px;
    }

}