/* home */

main>div>div .mouse_scroll span::after {
    animation: mouse-pulse 2.0s ease infinite;
}

@keyframes mouse-pulse {
    0% {
        opacity: 1;
        transform: translate(-0.5px, 2px);
    }

    100% {
        opacity: 0;
        transform: translate(-0.5px, 30px);
    }
}

.slider .slick-next {
    display: none !important;
    opacity: 0;
}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0px !important;
    display: none !important;
}

.slider .slick-next::before {
    display: none !important;
}

.slider .slick-prev::before {
    display: none !important;
}

@media screen and (min-width: 1366px) {

    /* support */

    .support-1>div>:first-child>div>:last-child {
        width: 600px;
        margin: auto 0;
    }

    .support-1>div>:first-child>div>div>h2 {
        font-size: 2.2rem;
        line-height: 1.8rem;
        margin-top: 20px;
        text-align: left;
    }

    .support-1>div>:first-child>div>div>h3 {
        text-align: left;
        margin: 30px 0 0;
        font-size: 1.5rem;
    }

}