/* home */

main>div>div .mouse_scroll span::after {
    animation: mouse-pulse 2.0s ease infinite;
}

@keyframes mouse-pulse {
    0% {
        opacity: 1;
        transform: translate(-0.5px, 2px);
    }

    100% {
        opacity: 0;
        transform: translate(-0.5px, 30px);
    }
}

.home-2 .slick-slider {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.home-2 .slick-slide {
    box-sizing: border-box;
}

.slider .slick-next {
    display: none !important;
    opacity: 0;
}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0px !important;
    display: none !important;
}

.slider .slick-next::before {
    display: none !important;
}

.slider .slick-prev::before {
    display: none !important;
}

.business-process>div>div>section ul li:not(.business-process>div>div>section:last-of-type ul li:last-of-type)::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #0066ff;
    flex-direction: column;
    margin-right: 10px;
}

.business-process>div>div>section:last-of-type ul li:last-of-type {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 5px;
    margin-top: 15px;
    font-size: 0.8rem;
}

@media screen and (min-width: 1366px) {

    /* support */

    .support-1>div>:first-child>div>:last-child {
        width: 600px;
        margin: auto 0;
    }

    .support-1>div>:first-child>div>div>h2 {
        font-size: 2.2rem;
        line-height: 1.8rem;
        margin-top: 20px;
        text-align: left;
    }

    .support-1>div>:first-child>div>div>h3 {
        text-align: left;
        margin: 30px 0 0;
        font-size: 1.5rem;
    }

    .business-process>div>div>section img {
        height: 70px;
    }

    .business-process>div>div>section:first-of-type img {
        height: 60px;
    }

    .business-process>div>div>section:nth-of-type(3) img {
        height: 50px;
    }

    .business-process>div>div>section:nth-of-type(4) img {
        height: 50px;
    }

    .business-process>div>div>section:last-of-type img {
        height: 50px;
    }

}